ptta/*
ptta/mat/*
labs/*
labs/mat/*
video_activity/*
video_activity/mat/*



instructor_led/ild_001/*
!instructor_led/ild_001/mod-01/
!instructor_led/ild_001/mod-02/
!instructor_led/ild_001/mod-03/
!instructor_led/ild_001/mod-04/
!instructor_led/ild_001/mod-05/
!instructor_led/ild_001/mod-06/
!instructor_led/ild_001/mod-07/
!instructor_led/ild_001/mod-08/
!instructor_led/ild_001/mod-09/
!instructor_led/ild_001/mod-10/